.articles {
  padding: var(--main-padding);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
.articles .box img {
  max-width: 100%;
  height: auto;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
  font-weight: bold;
}
.articles .box .content p {
  margin-top: 10px;
  line-height: 1.5;
  color: #777;
}
.articles .box .info {
  border-top: 1px solid #e6e6e7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info svg {
  color: var(--main-color);
  transition: var(--main-transition);
}
.articles .box:hover .info svg {
  animation: moving-arrow 0.6s linear infinite;
}