.services {
  padding: var(--main-padding);
  position: relative;
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  transition: var(--main-transition);
  counter-increment: services;
}
.services .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: -3px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover::before {
  width: 100%;
}
.services .box svg {
  color: #d5d5d5;
  display: block;
  margin: 40px auto 20px;
  text-align: center;
}
.services .box h3 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 25px;
  color: var(--main-color);
}
.services .box .info {
  background-color: #f9f9f9;
  padding: 15px;
  position: relative;
  text-align: right;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: var(--main-color);
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 76px;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}