.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  background-color: var(--section-background);
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  color: #666;
  margin: 5px 0 0;
  line-height: 1.7;
  font-size: 23px;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  width: 600px;
  height: auto;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: var(--main-color);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down svg {
  animation: bouncing 1.5s infinite;
}