.header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
/* .header .main-nav > li:last-child:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 5px);
} */
.header .main-nav > li > a {
  padding: 0 30px;
  color: black;
  height: 72px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    height: 40px;
    font-size: 14px;
  }
}
.header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.header .main-nav > li > a::before {
  content: "";
  background-color: var(--main-color);
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  position: absolute;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  background-color: white;
  left: 0;
  /* top: calc(100% + 50px); */
  top: -600%;
  width: 100%;
  display: flex;
  gap: 40px;
  padding: 30px;
  z-index: -1;
  border-bottom: 3px solid var(--main-color);
  opacity: 0;
  transition: top .7s, opacity var(--main-transition);
}
.header .mega-menu.show {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 5px);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a svg {
  margin-right: 10px;
}