.stats {
  padding: var(--main-padding);
  position: relative;
  background-image: url(../../assets/stats.jpg);
  background-size: cover;
}
.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .box {
  background-color: white;
  position: relative;
  padding: 30px 15px;
  text-align: center;
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}
.stats .box::before {
  bottom: 0;
  left: 0;
}
.stats .box::after {
  right: 0;
  top: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box .number {
  display: block;
  margin: 10px 0;
  font-size: 50px;
  font-weight: bold;
}
.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}