.pricing {
  padding: var(--main-padding);
  position: relative;
  background-color: var(--section-background);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.pricing .container .box {
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  background-color: white;
  position: relative;
  text-align: center;
  z-index: 1;
}
.pricing .container .box::before, 
.pricing .container .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  transition: var(--main-transition);
  background-color: #f6f6f6;
  z-index: -1;
}
.pricing .container .box::before {
  top: 0;
  left: 0;
}
.pricing .container .box::after {
  right: 0;
  bottom: 0;
}
.pricing .container .box:hover:before, 
.pricing .container .box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing .container .box.popular {
    top: -20px;
  }
}
.pricing .container .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 10px 35px;
  right: 20px;
  width: 40px;
  background-color: var(--main-color);
  color: white;
}
.pricing .container .box.popular .label::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border: 20px solid;
  border-color: transparent transparent white transparent;
}
.pricing .box h3 {
  margin: 30px 0;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -1px;
}
.pricing .box img {
  max-width: 80px;
  height: auto;
  margin-bottom: 30px;
}
.pricing .box .price {
  margin-bottom: 20px;
}
.pricing .box .price .amount {
  display: block;
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
}
.pricing .box .price .time {
  color: #777;
}
.pricing .box ul {
  text-align: left;
}
.pricing .box ul li {
  border-top: 1px solid #eee;
  padding: 20px;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: var(--main-color);
  margin-right: 10px;
}
.pricing .box a {
  display: block;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  margin: 30px auto 20px;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}
.pricing .box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}