.videos {
  padding: var(--main-padding);
  position: relative;
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .holder .list {
  min-width: 300px;
  background-color: white;
}
.videos .holder .list .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #f4f4f4;
  font-weight: bold;
}
.videos .holder .list ul li {
  padding: 15px 20px;
  border-top:  1px solid var(--section-background);
  cursor: pointer;
  transition: var(--main-transition);
}
.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .holder .list ul li span {
  display: block;
  color: #777;
}
.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .holder .preview img {
  max-width: 100%;
  height: auto;
}
.videos .holder .preview .text {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}